{% extends "base.html"%}

{% block content %}

<h1>Add Patient</h1>

<form method="post">
    {% csrf_token %}
    <div>
        <label for="firstname">First Name</label>
        <input type="text" name="firstname" id="firstname" value="{{patient.first_name}}">
    </div>

    <div>
        <label for="lastname">Last Name</label>
        <input type="text" name="lastname" id="lastname" value="{{patient.last_name}}">
    </div>

    <div>
        <label for="birthday">Geburtsdatum</label>
        <input type="datetime-local" name="birthday" id="birthday" value="{{patient.birthday|date:'Y-m-d\TH:i' }}" />
    </div>

    <div>
        <label for="svnr">Sozialverischerungsnummer</label>
        <input type="int" name="svnr" id="svnr" value="{{patient.svnr}}">
    </div>



    <div>
        <input type="submit" />
    </div>

</form>
{{isSVNRValid}}

{% endblock content %}
